.listInfo{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    margin-top: 5%;
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
}

