.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  padding: 2%;
  width: 30%;
}

.form{
  border: 1px solid black;
  padding: 5%;
}

.top{
  display: flex;
  justify-content: center;
}

.inputText{
  background: #f0f0f0;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  
}

.inputPhone{
  margin-left: 2%;
  background: #f0f0f0;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
}

.btnSend{
  background-color: #61dafb;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  margin-left: 2%;
}

.bottom{
  margin-left: 3px;
}

.inputSearch{
  background: #f0f0f0;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 55%;
  margin-left: 2%;
}

.btnSearch{
  background-color: #61dafb;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 50px;
  margin-left: 4%;
}

.btnDelete{
  background-color: #61dafb;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  margin-left:4%;
}

.list{
  margin-left: 12px;
  margin-right: 1%;
}


